*~
*.log
config.status
CHANGES
access.xml
acc.xml
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
configure.lineno
Makefile
dynamo.gpr
autom4te.cache
*.txt
lib/
obj/
dynamo-aunit.xml
dynamo-tests.xml
regtests/check_build/check_build.gpr
src/gen-configs.ads
test-app/
test-dist
dynamo_tests.gpr
config/generator.properties
wiki
cover
alire
regtests/results
dynamo.cov
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/dynamo-argouml.substvars
debian/dynamo-argouml/
debian/dynamo.substvars
debian/dynamo/
debian/files
debian/tmp/
