#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

BIN = $(DESTDIR)/usr/bin

CPUS := $(shell getconf _NPROCESSORS_ONLN)
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ 

override_dh_install::
	$(MAKE) DESTDIR=$(CURDIR)/debian/dynamo install
	dh_installdirs --package=dynamo-argouml usr/share/dynamo/base
	dh_installdirs --package=dynamo-argouml usr/bin
	dh_install -pdynamo-argouml usr/bin/argouml usr/bin
	dh_install -pdynamo-argouml config/argouml-0.35.5.jar usr/share/dynamo/base
	dh_install -pdynamo-argouml config/argouml.properties usr/share/dynamo/base
	rm -f $(CURDIR)/debian/dynamo/usr/bin/argouml
	rm -f $(CURDIR)/debian/dynamo/usr/share/dynamo/base/argouml-0.35.5.jar
	rm -f $(CURDIR)/debian/dynamo/usr/share/dynamo/base/argouml.properties

override_dh_auto_test::
